/* SLIDER */

.slider {
    position: relative;
    display: flex;
    height: 70rem;
    overflow: hidden;
    background-image: url(/images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: right;
    // border: 2px solid rgb(157, 172, 238);
}

.slide {
    position: absolute;
    display: flex;
    padding: 8rem;

    align-items: center;
    justify-content: center;
    transition: transform 1s;
}

.testimonial {
    width: 65%;
    z-index: 10;
    &__text {
        color: $--color-primary-blue;
        font-size: 3.2rem;
        font-weight: 300;
        right: -60px;
        position: relative;
        z-index: 1;
    }
    &_text::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: -5rem;
        background-image: url(/images/pattern-quotes.svg);
        background-repeat: no-repeat;
    }
    &__name {
        font-size: 1.8rem;
        padding-top: 2rem;
        color: $--color-primary-pale-blue;
        right: -60px;
        position: relative;
        strong {
            color: $--color-primary-blue;
        }
    }
}

.profile_avatar {
    width: 100%;
    z-index: -10;
    box-shadow: 2rem 1rem 3rem 1rem rgba(55, 67, 221, 0.2);
}


/////////////////////////////////////////////
//Button outside of the Container

// .buttons {
//     position: relative;
//     top: -3rem;
//     left: 10%;
//     width: 10rem;
//     height: 5rem;
//     border-radius: 5rem;
//     background-color: $--color-white;
//     box-shadow: 0.5em 0.5rem 0.5rem 1px rgba(25, 12, 34, 0.1);
//     overflow: hidden;
// }


.buttons {
    position: absolute;
    top: 59rem;
    left: 58%;
    width: 10rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: $--color-white;
    box-shadow: 0.5em 0.5rem 0.5rem 1px rgba(25, 12, 34, 0.1);
    overflow: hidden;
}    

.next::after,
.prev::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.next::after {
    background-image: url(/images/icon-next.svg);
}

.prev::after {
    background-image: url(/images/icon-prev.svg);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: rgb(245, 245, 245);
}

.prev,
.next {
    width: 50%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

//////////////////////////////////
// Media Queries
